{
    "presets": [
      "@babel/preset-react", // Transpile JSX
      [
        "@babel/preset-env", // Transpile ES6+ to browser-compatible JavaScript
        {
          "targets": {
            "browsers": ["last 2 versions", "> 1%", "not dead"]
          }
        }
      ]
    ]
  }
  